body {
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #101820,
        #1b2735,
        #243b55
    );
}
.branco {
    color: white;
    font-size: 18px;
}